.site-branding__name {
  font-size: 1.6em;
  margin-bottom: 40px; }

p.button {
  border-bottom: solid 3px #25496e;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-color: #326294;
  font-size: 0.88em;
  height: 40px;
  padding: 10px 20px; }
  p.button a:link, p.button a:visited, p.button a.active-trail, p.button a:hover, p.button a:active {
    color: #fff;
    text-decoration: none; }
  p.button:hover {
    background-color: #386fa7;
    border-bottom: solid 3px #2f5d8c; }

body {
  background: url(http://pnwhc.docker.amazee.io/profiles/cod/themes/cod/pisces/css/panels/images/white_wave.png) #f0f1f4 repeat; }
  body a {
    color: #326294;
    text-decoration: none; }
    body a:hover, body a:active {
      text-decoration: underline; }

.l-header {
  padding-top: 18px; }

.l-navigation {
  background-color: #326294;
  color: #fff;
  margin-bottom: 1em; }
  .l-navigation a {
    color: #fff; }
    .l-navigation a:hover {
      color: #aec8e4; }

.l-highlighted-wrapper {
  background: url(http://pnwhc.docker.amazee.io/profiles/cod/themes/cod/pisces/css/panels/images/highlighted.png) #4d5770 top left repeat-x;
  height: 300px; }

.l-region--highlighted {
  color: #fff;
  padding: 30px; }
  .l-region--highlighted h2 {
    font-size: 2em;
    margin-bottom: 1.5em;
    text-align: center; }
  .l-region--highlighted p a {
    color: #fff;
    text-decoration: none; }

.front .l-main-wrapper {
  background-color: #fff; }

.not-front .l-content, .not-front .l-region--sidebar .block {
  background-color: #fff; }

menu, ol, ul {
  padding-left: 18px; }

img, media {
  max-width: 100%; }

.l-region--sidebar .block img {
  width: 100%; }

table {
  border-collapse: collapse;
  margin: 0 0 30px 0;
  width: 100%; }
  table td {
    padding: 10px 10px; }
  table td:first-child {
    padding-right: 10px;
    width: 130px; }
  table tr:nth-child(even) {
    background: #f1f2f5; }

body {
  color: #494747;
  font-size: 16px;
  font-family: "PT Sans", sans-serif; }

.front .l-region--footer h2 {
  font-size: 2.25em;
  font-weight: normal;
  line-height: 1.8em;
  margin: 0;
  text-align: center; }

.l-region--sidebar .block h2 {
  font-size: 0.9em;
  margin-top: 0;
  text-transform: uppercase; }

p.button {
  text-align: center;
  max-width: 180px; }

.triptych img {
  width: 32.6%; }

.l-region--footer .block h3 {
  font-size: 1.5em;
  text-align: center; }
.l-region--footer .block img {
  width: 100%; }
.l-region--footer .block p {
  line-height: 1.5em; }

@media (min-width: 768px) {
  .l-region--footer .block {
    float: left;
    width: 28%;
    margin: 2%; }
    .l-region--footer .block:first-child {
      width: 100%; }
    .l-region--footer .block img {
      width: 100%; } }
p.button {
  border-bottom: solid 3px #25496e;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-color: #326294;
  font-size: 0.88em;
  height: 40px;
  padding: 10px 20px; }
  p.button a:link, p.button a:visited, p.button a.active-trail, p.button a:hover, p.button a:active {
    color: #fff;
    text-decoration: none; }
  p.button:hover {
    background-color: #386fa7;
    border-bottom: solid 3px #2f5d8c; }

.l-region--navigation .menu {
  padding-left: 0; }
  .l-region--navigation .menu a {
    text-decoration: none; }
  .l-region--navigation .menu li {
    display: inline;
    font-size: 0.88em;
    list-style-image: none;
    padding: 8px 12px;
    white-space: nowrap; }
  .l-region--navigation .menu .expanded .menu {
    display: none; }

.mean-container .mean-bar {
  background: #615f5e 20px 11px no-repeat;
  float: left;
  min-height: 40px;
  padding: 6px 0 0 0;
  position: absolute;
  width: 100%;
  z-index: 999999; }

.mean-container .mean-nav {
  background: none repeat scroll 0 0 #fff;
  float: left;
  margin-top: 40px;
  width: 100%; }
  .mean-container .mean-nav ul li a {
    border-bottom: 1px solid #f0f1f4;
    color: #615f5e;
    display: block;
    float: left;
    margin: 0;
    padding: 1em 5%;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    width: 90%; }
  .mean-container .mean-nav ul li a.mean-expand {
    background: url(http://pnwhc.docker.amazee.io/profiles/cod/themes/cod/pisces/css/panels/images/expand.gif) transparent center center no-repeat; }
    .mean-container .mean-nav ul li a.mean-expand:hover {
      background: url(http://pnwhc.docker.amazee.io/profiles/cod/themes/cod/pisces/css/panels/images/expand.gif) transparent center center no-repeat; }
    .mean-container .mean-nav ul li a.mean-expand.mean-clicked {
      background: url(http://pnwhc.docker.amazee.io/profiles/cod/themes/cod/pisces/css/panels/images/collapse.gif) transparent center center no-repeat; }
  .mean-container .mean-nav ul li li {
    background-color: #f0f1f4; }
    .mean-container .mean-nav ul li li:first-child {
      border-top: 1px solid #d3d6de; }
    .mean-container .mean-nav ul li li a {
      border-bottom: 1px solid #d3d6de;
      padding: 1em 7%;
      width: 86%; }

.mean-nav > ul > li:last-child {
  background-color: #326294; }
  .mean-nav > ul > li:last-child a {
    color: #fff;
    text-align: center; }

.mean-container .l-region--preface .menu {
  display: none; }

.l-region--preface .menu {
  padding-left: 0; }
  .l-region--preface .menu li {
    background-color: #f0f1f4;
    display: inline;
    font-size: 0.84em;
    list-style-image: none;
    list-style: none;
    padding: 10px 12px; }
    .l-region--preface .menu li:hover {
      background-color: #326294; }
      .l-region--preface .menu li:hover a:link, .l-region--preface .menu li:hover a:visited {
        color: #fff; }
    .l-region--preface .menu li a {
      text-decoration: none; }
      .l-region--preface .menu li a:link, .l-region--preface .menu li a:visited {
        color: #615f5e; }

.tabs--primary {
  border-bottom: none;
  margin-bottom: 0; }
  .tabs--primary li {
    float: left;
    margin-right: 0; }
  .tabs--primary a {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    background-color: #dbdee7; }
    .tabs--primary a:hover {
      background-color: #c8cddb;
      text-decoration: none; }
  .tabs--primary .active {
    color: #000000; }
  .tabs--primary a.active {
    background-color: #fff;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0; }

/* Schedule */
.view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen {
  background: none; }
  .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li {
    background: #494747;
    border-radius: 6px;
    margin-bottom: 20px; }
    .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active {
      background: #615f5e; }
      .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active a, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active a, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li.active a {
        background: none;
        color: #fff;
        padding-bottom: 4px; }
    .view-cod-session-schedule ul.quicktabs-tabs.quicktabs-style-zen li a, .view-cod-bof-schedule ul.quicktabs-tabs.quicktabs-style-zen li a, .view-cod-schedule ul.quicktabs-tabs.quicktabs-style-zen li a {
      background: none;
      color: #fff;
      padding-bottom: 4px; }
.view-cod-session-schedule .views-field-field-slot-datetime-1, .view-cod-session-schedule .views-field-field-evttime-date-1, .view-cod-bof-schedule .views-field-field-slot-datetime-1, .view-cod-bof-schedule .views-field-field-evttime-date-1, .view-cod-schedule .views-field-field-slot-datetime-1, .view-cod-schedule .views-field-field-evttime-date-1 {
  background: #326294;
  clear: both;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 6px; }
.view-cod-session-schedule .views-row, .view-cod-bof-schedule .views-row, .view-cod-schedule .views-row {
  border-bottom: 1px solid #CCCCCC;
  clear: both;
  float: left;
  padding-bottom: 20px;
  padding-top: 24px;
  width: 100%; }
  .view-cod-session-schedule .views-row.views-row-last, .view-cod-bof-schedule .views-row.views-row-last, .view-cod-schedule .views-row.views-row-last {
    border-bottom: none; }
.view-cod-session-schedule .views-field-field-experience, .view-cod-bof-schedule .views-field-field-experience, .view-cod-schedule .views-field-field-experience {
  float: right; }
.view-cod-session-schedule .views-field-title, .view-cod-bof-schedule .views-field-title, .view-cod-schedule .views-field-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px; }
  .view-cod-session-schedule .views-field-title a, .view-cod-bof-schedule .views-field-title a, .view-cod-schedule .views-field-title a {
    text-decoration: none; }
.view-cod-session-schedule .views-field-room, .view-cod-session-schedule .views-field-name, .view-cod-session-schedule .views-field-field-speakers, .view-cod-session-schedule .views-field-field-session-track, .view-cod-bof-schedule .views-field-room, .view-cod-bof-schedule .views-field-name, .view-cod-bof-schedule .views-field-field-speakers, .view-cod-bof-schedule .views-field-field-session-track, .view-cod-schedule .views-field-room, .view-cod-schedule .views-field-name, .view-cod-schedule .views-field-field-speakers, .view-cod-schedule .views-field-field-session-track {
  float: left;
  height: 28px;
  margin: 0 20px 10px 0;
  padding-top: 4px;
  padding-left: 30px; }
.view-cod-session-schedule .views-field-room, .view-cod-session-schedule .views-field-name, .view-cod-bof-schedule .views-field-room, .view-cod-bof-schedule .views-field-name, .view-cod-schedule .views-field-room, .view-cod-schedule .views-field-name {
  background: url(http://pnwhc.docker.amazee.io/profiles/cod/themes/cod/pisces/css/panels/images/location.png) transparent center left no-repeat; }
.view-cod-session-schedule .views-field-field-speakers, .view-cod-bof-schedule .views-field-field-speakers, .view-cod-schedule .views-field-field-speakers {
  background: url(http://pnwhc.docker.amazee.io/profiles/cod/themes/cod/pisces/css/panels/images/speaker.png) transparent center left no-repeat; }
.view-cod-session-schedule .views-field-field-session-track, .view-cod-bof-schedule .views-field-field-session-track, .view-cod-schedule .views-field-field-session-track {
  background: url(http://pnwhc.docker.amazee.io/profiles/cod/themes/cod/pisces/css/panels/images/track.png) transparent center left no-repeat; }

.view-cod-sponsors .level {
  clear: both; }
.view-cod-sponsors .sponsor {
  display: inline-block;
  padding: 20px;
  vertical-align: middle; }

.user-profile h2 {
  margin-bottom: 0; }
.user-profile h3 {
  margin-top: 0; }
.user-profile .user-picture {
  float: right; }
  .user-profile .user-picture img {
    border: 1px solid #c4c8d4;
    margin: 0.83em 0 12px 12px; }

.l-page .img-float img {
  float: left;
  margin-right: 15px; }

.pane-content.img-sm img,
.img-sm img {
  max-width: 100%;
  width: 125px; }

.pane-content.img-md img,
.img-md img {
  max-width: 100%;
  width: 320px; }

.pane-content.img-lg img,
.img-lg img {
  max-width: 100%;
  width: 485px; }

.pane-content.img-xl img,
.img-xl img {
  max-width: 100%;
  width: 650px; }

#panels-dnd-main .grid-4 .width-25, #panels-dnd-main .grid-4 .width-33, #panels-dnd-main .grid-4 .width-50, #panels-dnd-main .grid-3 .width-25, #panels-dnd-main .grid-3 .width-33, #panels-dnd-main .grid-3 .width-50, #panels-dnd-main .grid-3 .width-66, #panels-dnd-main .grid-3 .width-75 {
  background: #85231B; }

#page #panels-dnd-main .changed .grabber,
#page #panels-dnd-main .ajax-changed .grabber {
  background: #C56827; }

#page #panels-dnd-main .hidden .grabber {
  background: #dedede; }

.page-admin-structure-mini-panels form:before,
.page-manager-wrapper form:before {
  content: "Fixed width regions are yellow, absolutely positioned regions are blue. You do not need to use every region in a panel. Unused panel regions will disappear.";
  font-weight: bold;
  color: blue; }

.page-admin-structure-mini-panels form:before {
  content: "Fixed width regions are yellow, absolutely positioned regions are blue. You do not need to use every region in a panel. Unused panel regions will disappear.";
  font-weight: bold;
  color: blue; }

.page-admin-structure-mini-panels .wizard-trail,
#panels-choose-layout .wizard-trail {
  padding-top: 20px; }

#panels-dnd-main *, #panels-dnd-main *:after, #panels-dnd-main *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
#panels-dnd-main .panel-pane {
  vertical-align: top;
  min-width: 90px;
  float: none !important;
  display: inline-block;
  padding: 0 !important;
  border: 1px solid #777;
  margin: 0 !important; }
  #panels-dnd-main .panel-pane.width-25 {
    width: 25% !important; }
  #panels-dnd-main .panel-pane.width-33 {
    width: 33% !important; }
  #panels-dnd-main .panel-pane.width-50 {
    width: 50% !important; }
  #panels-dnd-main .panel-pane.width-66 {
    width: 66% !important; }
  #panels-dnd-main .panel-pane.width-75 {
    width: 75% !important; }
  #panels-dnd-main .panel-pane.width-100 {
    width: 100% !important; }
#panels-dnd-main .panel-pane .pane-title:after {
  height: 13px;
  display: inline-block;
  width: 100%;
  content: ".";
  color: white !important;
  text-indent: 21px; }
#panels-dnd-main .panel-pane.changed .pane-title:after {
  font-size: 0.8em;
  color: crimson !important;
  letter-spacing: normal;
  line-height: 1;
  background: #FFF;
  display: inline-block;
  text-indent: 0;
  padding-left: 5px; }

.page-manager-ajax-pad {
  background: #DFDFDF; }

#page-manager-edit .clearfix,
#page-manager-edit .page-manager-tabs,
#page-manager-edit .page-manager-wrapper,
#page-manager-edit .panel-panel,
#page-manager-edit .panel-display {
  overflow: visible !important; }

#page #panels-dnd-main .panel-pane {
  position: relative;
  float: left;
  width: 100%; }
  #page #panels-dnd-main .panel-pane.width-25 {
    width: 25%;
    float: left; }
  #page #panels-dnd-main .panel-pane.width-33 {
    width: 33.33%;
    float: left; }
  #page #panels-dnd-main .panel-pane.width-50 {
    width: 50%;
    float: left; }
  #page #panels-dnd-main .panel-pane.width-66 {
    width: 66%;
    float: left; }
  #page #panels-dnd-main .panel-pane.width-75 {
    width: 75%;
    float: left; }
  #page #panels-dnd-main .panel-pane.width-100 {
    width: 100%;
    float: left; }
  #page #panels-dnd-main .panel-pane .pane-content {
    margin: 0 10px;
    position: relative; }
#page #panels-dnd-main .panel-pane {
  margin: 0; }
#page #panels-dnd-main .panel-region {
  padding: 5px;
  margin: 0;
  border: white 2px dashed;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
  background: rgba(248, 248, 248, 0.4);
  float: left;
  width: 100%;
  line-height: 0; }
  #page #panels-dnd-main .panel-region h2.label {
    line-height: 1.5;
    font-size: 1.3em;
    color: black; }
  #page #panels-dnd-main .panel-region .panel-pane {
    line-height: 1.2;
    max-width: 100%; }
#page #panels-dnd-main div.ctools-dropdown div.ctools-dropdown-container ul {
  line-height: 1.3; }
#page #panels-dnd-main .container-inner.grid-12 {
  float: left;
  width: 100%; }
#page #panels-dnd-main .panel-region:after,
#page #panels-dnd-main .container-inner:after,
#page #panels-dnd-main .column-content-region:after {
  content: ".";
  font-size: 0;
  clear: both; }

.grid-3,
.width-25 {
  width: 25%;
  float: left; }

.grid-4,
.width-33 {
  width: 33.33%;
  float: left; }

.grid-6,
.width-50 {
  width: 50%;
  float: left; }

.grid-8,
.width-66 {
  width: 66%;
  float: left; }

.grid-9,
.width-75 {
  width: 75%;
  float: left; }

.grid-12,
.width-100 {
  width: 100%;
  float: left; }

.panel-display .float-right {
  float: right; }
.panel-display .float-left {
  float: left; }
.panel-display .clear-left {
  clear: left; }
.panel-display .clear-right {
  clear: right; }
.panel-display .clear-both {
  clear: both; }

body #page .panel-display .clear-left,
body #page .panel-display .grid-12,
body #page .panel-display .width-100 {
  padding-left: 0; }

.panel-layout {
  margin: 0;
  max-width: 1200px; }
  .panel-layout .container {
    float: left;
    clear: left;
    width: 100%; }
  .panel-layout .panel-pane {
    position: relative; }
    .panel-layout .panel-pane.width-25 {
      width: 25%;
      float: left; }
    .panel-layout .panel-pane.width-33 {
      width: 33.33%;
      float: left; }
    .panel-layout .panel-pane.width-50 {
      width: 50%;
      float: left; }
    .panel-layout .panel-pane.width-66 {
      width: 66%;
      float: left; }
    .panel-layout .panel-pane.width-75 {
      width: 75%;
      float: left; }
    .panel-layout .panel-pane.width-100 {
      width: 100%;
      float: left; }
    .panel-layout .panel-pane .pane-content {
      padding: 0 10px;
      position: relative;
      overflow: hidden;
      *zoom: 1; }
  .panel-layout .container {
    position: relative; }
    @media (max-width: 750px) {
      .panel-layout .container .panel-pane.width-25 {
        width: 50%; } }
    @media (max-width: 550px) {
      .panel-layout .container .panel-pane.width-33 {
        width: 100%; } }
    @media (max-width: 480px) {
      .panel-layout .container .panel-pane.width-25 {
        width: 100%; } }
  @media screen and (min-width: 1075px) and (max-width: 5000px) {
    .panel-layout .preface .width-25 .img-sm img, .panel-layout .footer .width-25 .img-sm img, .panel-layout .content .width-25 .img-sm img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 1855px) and (max-width: 5000px) {
    .panel-layout .preface .width-25 .img-md img, .panel-layout .footer .width-25 .img-md img, .panel-layout .content .width-25 .img-md img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 2515px) and (max-width: 5000px) {
    .panel-layout .preface .width-25 .img-lg img, .panel-layout .footer .width-25 .img-lg img, .panel-layout .content .width-25 .img-lg img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 3175px) and (max-width: 5000px) {
    .panel-layout .preface .width-25 .img-xl img, .panel-layout .footer .width-25 .img-xl img, .panel-layout .content .width-25 .img-xl img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 820px) and (max-width: 5000px) {
    .panel-layout .preface .width-33 .img-sm img, .panel-layout .footer .width-33 .img-sm img, .panel-layout .content .width-33 .img-sm img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 1405px) and (max-width: 5000px) {
    .panel-layout .preface .width-33 .img-md img, .panel-layout .footer .width-33 .img-md img, .panel-layout .content .width-33 .img-md img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 1900px) and (max-width: 5000px) {
    .panel-layout .preface .width-33 .img-lg img, .panel-layout .footer .width-33 .img-lg img, .panel-layout .content .width-33 .img-lg img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 2395px) and (max-width: 5000px) {
    .panel-layout .preface .width-33 .img-xl img, .panel-layout .footer .width-33 .img-xl img, .panel-layout .content .width-33 .img-xl img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 565px) and (max-width: 5000px) {
    .panel-layout .preface .width-50 .img-sm img, .panel-layout .footer .width-50 .img-sm img, .panel-layout .content .width-50 .img-sm img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 955px) and (max-width: 5000px) {
    .panel-layout .preface .width-50 .img-md img, .panel-layout .footer .width-50 .img-md img, .panel-layout .content .width-50 .img-md img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 1285px) and (max-width: 5000px) {
    .panel-layout .preface .width-50 .img-lg img, .panel-layout .footer .width-50 .img-lg img, .panel-layout .content .width-50 .img-lg img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 1615px) and (max-width: 5000px) {
    .panel-layout .preface .width-50 .img-xl img, .panel-layout .footer .width-50 .img-xl img, .panel-layout .content .width-50 .img-xl img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 437.5px) and (max-width: 5000px) {
    .panel-layout .preface .width-66 .img-sm img, .panel-layout .footer .width-66 .img-sm img, .panel-layout .content .width-66 .img-sm img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 730px) and (max-width: 5000px) {
    .panel-layout .preface .width-66 .img-md img, .panel-layout .footer .width-66 .img-md img, .panel-layout .content .width-66 .img-md img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 977.5px) and (max-width: 5000px) {
    .panel-layout .preface .width-66 .img-lg img, .panel-layout .footer .width-66 .img-lg img, .panel-layout .content .width-66 .img-lg img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 1225px) and (max-width: 5000px) {
    .panel-layout .preface .width-66 .img-xl img, .panel-layout .footer .width-66 .img-xl img, .panel-layout .content .width-66 .img-xl img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 394.15px) and (max-width: 5000px) {
    .panel-layout .preface .width-75 .img-sm img, .panel-layout .footer .width-75 .img-sm img, .panel-layout .content .width-75 .img-sm img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 653.5px) and (max-width: 5000px) {
    .panel-layout .preface .width-75 .img-md img, .panel-layout .footer .width-75 .img-md img, .panel-layout .content .width-75 .img-md img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 872.95px) and (max-width: 5000px) {
    .panel-layout .preface .width-75 .img-lg img, .panel-layout .footer .width-75 .img-lg img, .panel-layout .content .width-75 .img-lg img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 1092.4px) and (max-width: 5000px) {
    .panel-layout .preface .width-75 .img-xl img, .panel-layout .footer .width-75 .img-xl img, .panel-layout .content .width-75 .img-xl img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 310px) and (max-width: 5000px) {
    .panel-layout .preface .width-100 .img-sm img, .panel-layout .footer .width-100 .img-sm img, .panel-layout .content .width-100 .img-sm img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 505px) and (max-width: 5000px) {
    .panel-layout .preface .width-100 .img-md img, .panel-layout .footer .width-100 .img-md img, .panel-layout .content .width-100 .img-md img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 670px) and (max-width: 5000px) {
    .panel-layout .preface .width-100 .img-lg img, .panel-layout .footer .width-100 .img-lg img, .panel-layout .content .width-100 .img-lg img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 835px) and (max-width: 5000px) {
    .panel-layout .preface .width-100 .img-xl img, .panel-layout .footer .width-100 .img-xl img, .panel-layout .content .width-100 .img-xl img {
      float: left;
      margin-right: 15px;
      margin-bottom: 10px; } }
